
/* Main Container */
body {
	background-color: gray;
	padding-top: 10px;
	font-family: Helvetica, Arial;
	margin: 0 auto;
}
.container {
	width: 505px; 
	margin: 0 auto;
	background-color: #e6e6e6;
}

body {
  text-align: center;
 }

/* Header Elements */
.header{
	background-color: #00cc66;
	height: 210px;
	width: 505px;
	position: absolute;
}

h1{
	font-weight: bold;
	font-size: 23px;
	color: white;
	position: relative;
	top: 160px;
	left: 20px;
	text-align: left;
}

.navbar {
	min-height: 40px;
	background-color: #333333;
	position: relative;
	top: 203px;
	border-top: 5px solid rgba(0, 204, 102, .7);
	border-bottom: 5px solid rgba(217, 217, 217, .6);
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

.navbar ul li{
	list-style-type: none;
	float: right;
	padding-right: 10px;
	padding-left: 10px;
	clear: left;
	color: #FFF;
	font-size: 12px;
	text-align: right;
	min-height: 40px;
}


/* Recent Posts - ASIDE*/

.recent-post-title {
	font-weight: bold;
	font-size: 14px;
}

.recent-post{
	width: 180px;
	border-bottom: 5px solid darkgrey;
	position: absolute;
	top: 264px;
	right: 270px;
	background-color: lightgray;
	overflow: hidden;
	font-size: 12px;
}
#feed{
	list-style-type: none;
	text-align: left;
	font-size: 11px;
	color: #6D6D73;
	text-align: left;
}

/* Articles */

h2{
	color: #000;
	font-size: 18px;
	padding-top: 30px;
	padding-left: 20px;
	padding-bottom: 20px;
	text-align: left;
}
.article{
	background-color: #e6e6e6;
	width: 505px;
	position: relative;
	top: 192px;
	overflow: hidden;
}

p {
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 12px;
}

.specimen {
	color: #99004d;
	font-weight: bold;
}

/* Section Title */
h3 {
	color: black;
	font-size: 15px;
	padding-left: 20px;
}

.section-title {
	position: relative;
	top: 180px;
	background-color: #e6e6e6;
	text-align: left;
	padding-top: 30px;
}

hr {
	color: darkgrey;
	width: 480px;
	box-shadow: none;
}

/* Table & Buttons */
.table {
	width: 470px;
	border-collapse: collapse;
	margin: auto;
}

th {
	background-color: lightgray;
}

tr, td, th {
	border: 1px solid black;
	font-size: 12px;
	padding: 5px;

}
.try, .view, .go {
	background-color: #33adff;
	color: #fff;
	border: none;
	box-shadow: none;
	width:40px;
	height: 20px;
}

.gray-bkg{
	max-width:440px;
	background-color: darkgrey;
	margin: auto;
}

.box-text{
	padding: 10px;
}

 .indent {
 	text-indent: 10px;
 }

 .placeholder-image {
 	font-family: cursive;
 	color: lightgrey;
 	background-color: #333333;
 	font-size: 13px;
 	text-align: center;
 	padding-top: 10px;
 	height: 40px;
 }